<div class="d-flex flex-column mt-5">
  <h1 class="text-center">URL Shortener</h1>
  <img class="url-img mx-auto mt-5"
    src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="url">
  <div class="mt-5 ">
    <h1 class="text-center">未定義此縮址</h1>
    <div class="text-center mt-5">
      <a href="/">
        <button class="btn btn-secondary">回首頁</button>
      </a>
    </div>
  </div>
</div>